* {
    font-family: sans-serif;
}

body {
    background-color: rgb(11, 11, 68);
    margin-bottom: 100px;
}

.heading1 {
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
    color: yellow;
}

.box-1 {
    width: 500px;
    height: 150px;
    border: 2px solid red;
    /* Left,
    Right,
    Top,
    Bottom  */
    padding: 10px;
}

.para-1 {
    color: white;
    text-align: justify;
}

.box-2 {
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 0);
    border: 4px solid rgb(104, 104, 104);
    margin-top: 20px;
    padding: 30px;
    padding: 25px 10px;
    /* top right bott left  */
    padding: 25px 10px 25px 20px;
}

.box-2-inner {
    height: 100%;
    width: 100%;
    background-color: rgb(75, 34, 114);
}

.box-3 {
    width: 500px;
    height: 100px;
    border: 3px solid #e6e5e5;
    margin: 0 auto;
    padding: 10px;
}

.para-2 {
    color: white;
}

.b4 {
    height: 150px;
    width: 150px;
    border: 3px solid crimson;
    color: white;
    font-size: 20px;
    text-align: center;
    align-content: center;
    display: inline-block;
    margin: 20px 10px 10px 0;
}

.b7 {
    border: 3px solid yellow;
    display: block;
}

.navbar {
    width: 500px;
    height: 60px;
    margin: 0 auto;
    background-color: black;
}

ul {
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

li {
    color: white;
    list-style-type: none;
    display: inline-block;
    height: 100%;
    align-content: center;
    margin-right: 50px;
    font-size: 20px;
    cursor: pointer;
}

li:hover {
    color: red;
    text-decoration: underline;
}